.global_wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        width: 800px;
    }
}