* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

span {
    font-weight: bold;
}

.title {
    font-family: 'Comic Neue', cursive;
    font-weight: 300;
    color: #53912d;
    font-size: 42px;
}

hr {
    background-color: #53912D;
    height: 8px;
}

.first-line {
    margin-bottom: 15px;
}

.last-line {
    margin: 15px 0 60px;
}

.first-line_table {
    height: 4px;
    margin-bottom: 15px;
}

.last-line_table {
    height: 4px;
    margin: 15px 0 20px;
}

.about__info {
    display: flex;
    justify-content: space-between;
}

.about__text {
    padding: 30px 25px;
    background: #CDDDAC;
    width: 49.5%;
    font-style: italic;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.about__text p {
    margin-bottom: 2px;
}

.about__gallary {
    width: 49.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
}

.about__gallary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Второй и 3 блок*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    font-family: 'Comic Neue', cursive;
}

.img-ex {
    width: 35%;
}

.table-ex {
    width: 60%;
}

th {
    border: 2px solid white;
    padding: 10px 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}

td {
    border: 2px solid white;
    padding: 10px 5px;
    text-align: center;
}

.table-head {
    background-color: #9bbb55;
}

.table-subhead {
    background-color: #cddea8;
}

.table_color {
    color: white;
}

.table-supbody {
    background-color: #eaf2dd;
}

.table-subbody {
    background-color: #c2d69b;
}

.lining__info-img {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lining__info-img img {
    width: 100%;
}

.title-block {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.wrapper-img {
    width: 200px;
    height: 200px;
}

.background-img {
    width: 100%;
}

/* .wrapper-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 16px solid #53912D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-line {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 6px solid #53912D;
    background-image: url(./utils/Vagonka-1.png);
    background-size: cover;
} */

.title-text {
    width: 80%;
    font-style: italic;
    color: #4e8e27;
    font-size: 18px;
    margin-top: 15px;
}

p {
    text-indent: 30px; 
}

.title-text p {
    margin-bottom: 4px;
}

.lining__gallary {
    display: flex;
    justify-content: space-around;
}

.lining__gallary img {
    width: 22%;
    object-fit: cover;
    height: 220px;
}

/*Четвертый блок*/

.aspens__block-info {
    display: flex;
    justify-content: space-between;
}

.aspens__left-block {
    width: 49%;
}

.aspens__right-block {
    width: 49%;
}

.aspens__item-block img {
    width: 100%;
    display: block;
}

.last-line__item, .first-line__item {
    height: 4px;
}

.first-line__item {
    margin-bottom: 10px;
}

.last-line__item {
    margin-top: 10px;
}

.aspens__gallary {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 40% 58%;
    grid-template-rows: 250px 250px;
    gap: 2%;
}

.aspens__gallary img {
    width: 100%;
    height: 100%;
    display: block;
}

.aspens__gallary_height {
    grid-row: 1/3;
    grid-column: 2;
}

.aspens__right-gallary {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.aspens__right-gallary img {
    margin-top: 5px;
    width: 42%;
    height: 200px;
}

.aspens__right-gallary .aspens__gallary-item_size {
    height: 260px;
    position: relative;
    z-index: 2;
}

.aspens__right-info {
    position: relative;
    top: -50px;
    z-index: 1;
    background: #CDDDAC;
    padding: 20px 0;
}

.subtitle {
    font-size: 24px;
    font-style: italic;
    padding-left: 50px;
    font-weight: bold;
    color: #53912D;
    margin-bottom: 20px;
}

.aspens__right-info p {
    margin-bottom: 15px;
    font-size: 18px;
    font-style: italic;
}

.aspens__right-text {
    padding: 30px 20px 20px 60px;
}

.aspens__right-info img {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.line_margin {
    margin-top: -35px;
}

.table-ex_gallary {
    width: 100%;
}

/*5 блок*/

.elements__block {
    display: grid;
    padding: 15px 0;
    grid-template-columns: 22% 22% 24% 28%;
    grid-template-rows: repeat(2, 200px) 300px;
    gap: 1.25%;
}

.elements__block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elements__item-block {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elements__item-block img {
    width: 100%;
    height: 80%;
    display: block;
    object-fit: cover;
}

.elements__text-info {
    padding-top: 10px;
    grid-column: 1/3;
    background: #CDDDAC;
}

.elements__text-info p {
    font-size: 18px;
    padding: 0 15px 0 40px;
    font-style: italic;
}

.elements__item_size {
    grid-column: 4;
    grid-row: 2/4;
}

.box-door__gallary {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 26% 22% 24% 24%;
    grid-template-rows: repeat(2, 330px);
    gap: 1%
}

.box-door__gallary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-door__gallary .elements__item-block {
    grid-row: 1
}

.box-door__gallary_size {
    grid-row: 1/3;
}

.shild__block {
    display: flex;
    justify-content: space-between;
}

.shild__info {
    padding: 20px 0;
    width: 49%;
    background: #CDDDAC;
    font-size: 18px;
    font-style: italic;
}

.shild__gallary {
    padding-bottom: 1%;
    width: 49%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 400px 250px;
    gap: 2%;
}

.shild__gallary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shild__text {
    padding: 0 20px 0 40px;
}

.shild__text p {
    margin-bottom: 20px;
}

.shild__item_size {
    grid-column: 1/3;
}

.shild__picture {
    display: block;
    margin: 0 auto;
}

.shield {
    width: 60%;
    margin: 30px auto 35px;
}

.shield-img_title {
    text-align: center;
    color: #53912d;
}

.shield-img {
    width: 100%;
}

.logo-wrapper_set {
    width: 60%;
    margin: 30px auto;
}

.logo-wrapper{
    width: 60%;
    margin: 0 auto;
}

.logo-wrapper img {
    width: 100%;
}

.set__block {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: 380px 320px;
    gap: 1%;
}

.set__block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.set .elements__item-block_flex {
    grid-column: 1/3;
}

.elements__item-block_flex {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
}

.set__text {
    grid-column: 3/5;
    background: #CDDDAC;
    font-size: 18px;
}

.set__text p {
    padding: 0 20px 0 40px;
    font-style: italic;
}

.set .subtitle {
    padding-top: 20px;
}

.set__list {
    margin-top: 20px;
    color: #4e8e27;
    font-style: italic;
}

.set__list span {
    display: block;
    padding-left: 15px;
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

.accessories__gallary {
    display: grid;
    grid-template-columns: 24% 24% 50%;
    grid-template-rows: 250px 250px 250px;
    gap: 1%;
}

.accessories__gallary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accessories__item_size {
    grid-column: 3;
    grid-row: 1/4;
    padding-bottom: 3%;
}

.accessories__item_width {
    grid-column: 1/3;
}

.table_height {
    height: 100%;
}

.table-wrapper_height {
    height: 78%;
}

.container_position {
    position: relative;
}

.business-card, .business-card_position {
    position: absolute;
    background-color: #cddea8;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 19px;
    top: 95px;
}

.business-card {
    left: 50%;
}

.title-shild_color {
    color: #1f3b03;
}

.set-title_color {
    color: #1f3b03;
}
